
.icon-mail:before { content: '\e800'; } /* '' */
.icon-star-half:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e81a'; } /* '' */
.icon-thumbs-down:before { content: '\e81b'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-upload:before { content: '\e81d'; } /* '' */
.icon-comment:before { content: '\e824'; } /* '' */
.icon-folder:before { content: '\e82c'; } /* '' */
.icon-phone:before { content: '\e82e'; } /* '' */
.icon-cog:before { content: '\e82f'; } /* '' */
.icon-calendar:before { content: '\e833'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-globe:before { content: '\e867'; } /* '' */
.icon-megaphone:before { content: '\e88b'; } /* '' */
.icon-ok:before { content: '\e894'; } /* '' */
.icon-heart:before { content: '\e897'; } /* '' */
.icon-heart-empty:before { content: '\e898'; } /* '' */
.icon-star:before { content: '\e899'; } /* '' */
.icon-star-empty:before { content: '\e89a'; } /* '' */
.icon-video:before { content: '\e89c'; } /* '' */
.icon-picture:before { content: '\e89e'; } /* '' */
.icon-camera:before { content: '\e89f'; } /* '' */
.icon-search:before { content: '\e8a0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */